<div style="text-align:center">
  <h1>
    Bem-vindo a Avaliação Prática 4NA!
  </h1>
</div>
<div>
<!-- Completo -->
<!-- <app-contador></app-contador> -->
<!-- <app-list-items></app-list-items> -->
<!-- <app-form-cadastro></app-form-cadastro> -->
<!-- <app-controle-acesso></app-controle-acesso> -->
<!-- <app-componente-pai></app-componente-pai> -->
<!-- <app-form-login></app-form-login> -->
<app-dados-alunos></app-dados-alunos>

<!-- Completo -->

<!-- Incompleto -->

<!-- Incompleto -->
</div>